* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', '돋움', sans-serif;
}

.container {
    color: blue;
    font-size: 38px;
    border: 4px solid orange;
    /* border 상속 안됨 */
}

.inner-box {
    color:  red;
}

/* 
.inner-box p {
    border: 4px solid orange;
} 
*/