* {
    box-sizing: border-box;
    margin: 0px;
}

.background {
    width: 1024px;
    height: 600px;
    background-image: url("../images/background.png");
    /* 점하나 현재폴더 상위폴더로 가고싶으면 점 두번(추가) */
    padding: 20px 0px 0px 20px;
    /* 북동남서 시계방향 */
}

.outerbox {
    width: 808px;
    height: 544px;
    background-image: url("../images/outerbox.png");
}

.wrapper {
    display: flex;
    flex-direction: row;
    padding: 32px 0px 0px 32px;
}

.wrapper__left {
    width: 208px;
    height: 472px;
    display: flex;
    flex-direction: column;
}

.wrapper__left__header {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.today {
    font-size: 9px;
}

.wrapper__left__body {
    width: 100%;
    height: 100%;
    /* 472px - 30px의 나머지 100%를 가져감 */
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
}

.left__body__header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.left__body__header__gray {
    width: 148px;
    height: 133px;
    background-color: gray;
}

.left__body__header__line {
    border-top: 1px dotted black;
    margin: 12px 0px;
    /* 첫번째 입력 상하 두번째 좌우 */
}

/*  */

.left__body__profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile__detail {
    color: #999999;
    font-size: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.fa-solid {
    color: black;
    margin-right: 10px;
    width: 5px;
    height: 5px;
}

/*  */

.left__body__footer {
    width: 100%;
    margin-bottom: 30px;
}

.wrapper__feel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.feel__title {
    font-size: 11px;
    margin-bottom: 5px;
    color: gray;
}

.feel__select {
    font-size: 12px;
    color: black;
}

/*  */

.wrapper__right {
    width: 524px;
    height: 472px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 5px;
}

.wrapper__right__header {
    width: 510px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* 양 쪽 끝으로 찢어주기 */
    align-items: flex-end;
    padding: 0px 14px;
}

.right__header__title {
    font-size: 16px;
}

.right__header__title, .right__header__setting {
    color: #55B2E4;
    font-size: 9px;
}

.wrapper__right__body {
    width: 510px;
    height: 455px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.navigation {
	width: 62px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: absolute; 
    /* 절대좌표 */
	left: 784px;
	top: 110px;
}

.navigation__item {
	width: 60px;
	height: 30px;
	line-height: 30px;
    /* 글씨들이 써져있는 줄 높이 조절 */
	text-align: center;
	color: white;
	background-color: #298eb5;
	border: 1px solid black;
	border-radius: 0px 10px 10px 0px;
    /* 왼쪽 상단부터 */
	font-size: 10px;
	cursor: pointer;
}